nav{
	position: fixed;
	width: 100%;
	padding: 10px 10%;
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
	background-color: white;
	z-index: 1;
}

#table-contactus{
	margin-top: 0;
	border-spacing: 0 4px;
}

#table-contactus tr td img{
	vertical-align: middle;
}

#table-contactus tr td p{
	vertical-align: top;
}

