@import 'style.css';
@import 'headerAndFooter.css';

.bodyContainer{
	padding-top: 85px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 80px;
	width: 100%;
}

.gallery{
	/*background: #EEE;*/
}

.gallery-cell{
	width: 66%;
	height: calc(100vh - 95px);
	margin-right: 200px;
	background: #8C8;
	background-repeat: no-repeat;
	background-size: cover;
}

.gallery-cell:nth-child(1){
	background-image: url("../images/pics/pic1.jpeg");
}

.gallery-cell:nth-child(2){
	background-image: url("../images/pics/pic2.jpeg");
}

.gallery-cell:nth-child(3){
	background-image: url("../images/pics/pic3.jpeg");
}

.gallery-cell:nth-child(4){
	background-image: url("../images/pics/pic4.jpeg");
}

.gallery-cell:nth-child(5){
	background-image: url("../images/pics/pic5.jpg");
}

.gallery-cell:nth-child(6){
	background-image: url("../images/pics/pic6.jpg");
}

.gallery-cell:nth-child(7){
	background-image: url("../images/pics/pic7.jpeg");
}

.embedd-image{
	background-repeat: no-repeat;
	background-size: cover;
}

#embeddedImage1{
	background-image: url("../images/pics/pic8.jpg");
}

#embeddedImage2{
	height: 300px;
	background-image: url("../images/pics/pic9.jpeg");
}

#embeddedImage3{
	height: 300px;
	background-image: url("../images/pics/pic6.jpg");
}

#embeddedImage4{
	height: 300px;
	background-image: url("../images/pics/pic5.jpg");
}

