*{
	padding: 0;
	margin: 0;
	outline: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: small;
	background-color: rgb(250, 250, 250);
}

h1{
	color: rgb(32, 32, 32);
}

.width-100-pp{
	width: 100%;
}

.width-90-pp{
	width: 90%;
}

.width-80-pp{
	width: 80%;
}

.width-70-pp{
	width: 70%;
}

.width-60-pp{
	width: 60%;
}

.width-55-pp{
	width: 55%;
}

.width-50-pp{
	width: 50%;
}

.width-49-pp{
	width: auto;
}

.width-45-pp{
	width: 45%;
}

.width-40-pp{
	width: 40%;
}

.width-33-pp{
	width: 33%;
}

.width-30-pp{
	width: 30%;
}

.width-25-pp{
	width: 25%;
}

.width-20-pp{
	width: 20%;
}

.width-10-pp{
	width: 10%;
}

.width-2-pp{
	width: 2%;
}

.width-0px{
	width: 0px;
}

.width-5px{
	width: 5px;
}

.width-10px{
	width: 10px;
}

.width-20px{
	width: 20px;
}

.width-30px{
	width: 30px;
}

.width-40px{
	width: 40px;
}

.width-50px{
	width: 50px;
}

.width-60px{
	width: 60px;
}

.width-70px{
	width: 70px;
}

.width-80px{
	width: 80px;
}

.width-90px{
	width: 90px;
}

.width-100px{
	width: 100px;
}

.width-120px{
	width: 120px;
}

.width-200px{
	width: 200px;
}

.width-300px{
	width: 300px;
}

.width-400px{
	width: 400px;
}

.width-500px{
	width: 500px;
}

.width-1000px{
	width: 450px;
}


.height-10px{
	height: 10px;
}

.height-20px{
	height: 20px;
}

.height-30px{
	height: 30px;
}

.height-40px{
	height: 40px;
}

.height-50px{
	height: 50px;
}

.height-60px{
	height: 60px;
}

.height-70px{
	height: 70px;
}

.height-80px{
	height: 80px;
}

.height-90px{
	height: 90px;
}

.height-100px{
	height: 100px;
}

.height-120px{
	height: 120px;
}

.height-170px{
	height: 170px;
}

.height-200px{
	height: 200px;
}

.height-300px{
	height: 300px;
}

.height-350px{
	height: 350px;
}

.height-400px{
	height: 400px;
}

.height-450px{
	height: 450px;
}

.height-500px{
	height: 500px;
}

.height-100pp{
	height: 100%;
}

.fullHeight{
	height: 100vh;
}

.height-60vh{
	height: 60vh;
}

.height-70vh{
	height: 70vh;
}

.height-80vh{
	height: 80vh;
}

.height-90vh{
	height: 90vh;
}
table{
	width: 100%;
	/*border: 1px solid black;*/
}

#tablet, #mobile{
	display: none;
}

#desktop{
	display: block;
}

.img_64px{
	width: 64px;
	height: 64px;
}

.img_32px{
	width: 32px;
	height: 32px;
}

.img_16px{
	width: 16px;
	height: 16px;
}

.table-alignTop{
	vertical-align: top;
}

.table-alignMiddle{
	vertical-align: middle;
}

.table-cellspacing-normal{
	border-spacing: 8px 8px;
}

.border{
	border: 1px solid black;
}

.no-border{
	border: 0;
}

.no-resize{
	resize: none;
}

.border-radii-8px{
	border-radius: 8px;
}

.navContainer a{
	float: left;
	font-size: 1.3em;
	
	color: rgb(32, 32, 32);
	padding: 14px 16px;
	text-decoration: none;
	margin: 0 8px;
}

.dropdown{
	float: left;
}

.navContainer a:hover, .dropdown a:hover .dropbtn, .dropdown-content a{
	/*background-color: rgba(155, 155, 155, 0.1);*/
	color: blue;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a{
	display: block;
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	text-align: left;
	color: rgb(32, 32, 32);
}

.dropdown-content a:hover{
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.margin-16px{
	margin: 16px;
}

.mt-8px{
	margin-top: 8px;
}

.mt-64px{
	margin-top: 64px;
}

.mt-32px{
	margin-top: 32px;
}

.mt-16px{
	margin-top: 16px;
}

.mr-16px{
	margin-right: 16px;
}

.mb-8px{
	margin-bottom: 8px;
}

.mb-16px{
	margin-bottom: 16px;
}

.mb-32px{
	margin-bottom: 32px;
}

.fs-large{
	font-size: 2em;
}

.fs-medium{
	font-size: 1.6em;
}

.fs-normal{
	font-size: 1.1em;
} 

.fs-small{
	font-size: 0.6;
}

.lh-normal{
	line-height: 1.5em;
}

.lh-large{
	line-height: 2em;
}

.bold{
	font-weight: bold;
}

.centerText{
	text-align: center;
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.clear{
	clear: both;
}

.pad8px16px{
	padding: 8px 16px;
}

.pad8px{
	padding: 8px;
}

.pad16px{
	padding: 16px;
}

.pad32px{
	padding: 32px;
}

.pad64px{
	padding: 64px;
}

.pt-8px{
	padding-top: 8px;
}

.pt-16px{
	padding-top: 16px;
}

.pt-32px{
	padding-top: 32px;
}

.pt-85px{
	padding-top: 85px;
}

.pr-8px{
	padding-right: 8px;
}

.pr-16px{
	padding-right: 16px;
}

.pb-8px{
	padding-bottom: 8px;
}

.pb-16px{
	padding-bottom: 16px;
}

.pb-32px{
	padding-bottom: 32px;
}

.pb-64px{
	padding-bottom: 64px;
}

.pl-4px{
	padding-left: 4px;
}

.pl-8px{
	padding-left: 8px;
}

.pl-16px{
	padding-left: 16px;
}

.pl-32px{
	padding-left: 32px;
}

.pl-64px{
	padding-left: 64px;
}

.pr-8px{
	padding-right: 8px;
}

.pr-16px{
	padding-right: 16px;
}

.pr-32px{
	padding-right: 32px;
}

.curDiv-30px{
	border-radius: 30px;
}

.curDiv-45px{
	border-radius: 45px;
}

.curDiv-60px{
	border-radius: 60px;
}

.curDiv-100px{
	border-radius: 100px;
}

.h-space-3-pp{
	width: 3%;
}

.colorPrimary{
	color: blue;
}

.backgroundColorPrimary{
	background-color: rgb(80, 55, 55);
}

.redBackgroundColor{
	background-color: red;
}

.blueBackgroundColor{
	background-color: blue;
}

.greenBackgroundColor{
	background-color: green;
}

.grayBackgroundColor{
	background-color: rgb(242, 242, 242);
}

.navyBackgroundColor{
	background-color: rgb(40, 40, 60);
}

.customColor1{
	color: rgb(142, 142, 142);
}

.redColor{
	color: red;
}

.blackColor{
	color: black;
}

.whiteColor{
	color: white;
}

.grayColor{
	color: rgb(190, 190, 190);
}

.blueColor{
	color: blue;
}

.greenColor{
	color: green;
}

.underline{
	text-decoration: underline;
}

.footerColor{
	color: white;
}

.footerBackgroundColor{
	background-color: rgb(80, 55, 55);
}

.relative{
	position: relative;
}

.center-div-relative-both{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centerDivHorizontally{
	margin: 0 auto;
}

.ol-default { 
    display: block;
    margin: 1em 0;
    padding: 0 0 0 16px;
}
.ol-default li { 
    list-style-type: decimal;
    margin-bottom: 16px;
}
.ol-style-lower-roman li {
	list-style-type: lower-roman;
}

.ol-style-none li {
	list-style-type: none;
}

.div-radii-8px{
	border-radius: 8px;
}

.buttonNormal{
	background-color: rgb(200, 200, 200);
	color: black;
}

.buttonNormal:hover{
	cursor: pointer;
	background-color: rgb(150, 150, 150);
}

.buttonPrimary{
	background-color: rgb(80, 55, 55);
	color: white;
}

.buttonPrimary:hover{
	cursor: pointer;
	background-color: rgb(60, 35, 35);
}

.buttonDanger{
	background-color: rgb(222, 55, 55);
	color: white;
}

.buttonDanger:hover{
	cursor: pointer;
	background-color: rgb(180, 55, 55);
}

.invisible{
	visibility: visible;
}

.hidden{
	display: none;
}

.showDiv{
	display: block;
}

.showSpan{
	display: span;
}

.space-16px{
	padding: 8px;
}

.space-24px{
	padding: 12px;
}

.space-32px{
	padding: 16px;
}

.hover{
	cursor: pointer;
}

.gray-background-onhover:hover{
	background-color: rgba(222, 222, 222, 0.5);
}

.overflow{
	overflow: auto;
}

.rex-float-height-hook{
    clear: both;
}

.text-truncate{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.inline-block{
	display: inline-block;
}

.table-space-vertical-normal{
	border-spacing: 0px 0px;
}

.grid-column-gap-5px{
	grid-column-gap: 5px;
}

.grid-2{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto;
}

.grid-3{
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-rows: auto auto auto;
}

@media (max-width: 700px){
	#desktop, #mobile{
		display: none;
	}

	#tablet{
		display: block;
	}
}

@media (max-width: 600px){
	#desktop, #tablet{
		display: none;
	}

	#mobile{
		display: block;
	}
}